---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../icons/Social/Linkedin.astro'
import Github from '../icons/Social/Github.astro'
import Social_icons from '../components/Social_icons.astro'
import Gmail from '../icons/Social/Gmail.astro'
import Section from '../components/Section.astro';
import Section_tecno from '../components/Section_tecno.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Code from '../icons/Titulos/Code.astro'
import Proyectos from '../components/Proyectos.astro'
import Certificados from '../components/Certificados.astro'
import Sobre_mi from '../components/Sobre_mi.astro'
import Cert_icon from '../icons/Titulos/Cert_icon.astro'
import Me_icons from '../icons/Titulos/Me_icon.astro'
import Section_sobremi from '../components/Section_sobremi.astro'
import Footer from '../components/Footer.astro'
import Discord from '../icons/Social/Discord.astro'
import Section_certificados from '../components/Section_certificados.astro';
import Firebase from '../icons/Tecnologias/Bases_de_datos/Firebase.astro';
import Electron from '../icons/Tecnologias/Herramientas_Adicionales/Electron.astro';
import Supabase from '../icons/Tecnologias/Bases_de_datos/Supabase.astro';
const PROFILE_IMAGE = "/projects/fotoperfilarriba.png"; // Definir la constante con la ubicación de la imagen
const lang = Astro.url.searchParams.get('lang');
if(lang){
    Astro.cookies.set('lang', lang, {
       path: '/',
            httpOnly: true
        });
}



// Get language from cookies or default to 'es'
let currentLanguage = 'es';

if (typeof document !== 'undefined') {
  const langCookie = document.cookie.split('; ').find(row => row.startsWith('lang='));
  currentLanguage = langCookie ? langCookie.split('=')[1] : 'es';
}

// Translation Function
const translations = {
    es: {
        'inicio': 'Inicio',
        'tecnologias': 'Tecnologías',
        'proyectos': 'Proyectos',
        'sobremi': 'Sobre mí',
        'holaSoy': 'Hola, Soy Rodrigo',
        'openToWork': 'Open To Work',
        'programadorFullStack': 'Programador Full-Stack.',
         'descripcionPersonal': 'Tengo 23 años, soy de Tucumán, Argentina. Me especializo en desarrollo de software y soluciones tecnologicas, siempre buscando mejorar. Mi objetivo es aportar soluciones creativas y efectivas.',
         'linkedin': 'LinkedIn',
         'github': 'GitHub',
         'email': 'rodrieldkii@gmail.com',
         'tecnologiasTitulo': 'Tecnologías',
         'lenguajes': 'Lenguajes',
         'frameworksLibrerias': 'Frameworks y Librerías',
         'basesDatos': 'Bases de Datos',
         'herramientasAdicionales': 'Herramientas Adicionales',
         'proyectosTitulo': 'Proyectos',
         'sobremiTitulo': 'Sobre mí',
         'desarrolladorTecnico': 'Soy <strong>Programador tecnico con formación universitaria</strong> en la UTN FRT  (Universidad Tecnológica Nacional, Facultad Regional Tucumán).',
         'crecerProfesionalmente': 'Estoy buscando oportunidades para <strong>crecer como profesional</strong> y prepararme para el mundo laboral.',
         'habilidadesDev': 'Todos los días continúo desarrollando mis habilidades como dev <strong>Full-Stack</strong>, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como programador.',
         'verCertificado': 'Ver Certificado',
         'contacto': 'Contacto',
         'code':'Code',
         'preview':'Preview'

    },
    en: {
      'inicio': 'Home',
        'tecnologias': 'Technologies',
        'proyectos': 'Projects',
        'sobremi': 'About me',
        'holaSoy': 'Hello, I\'m Rodrigo',
        'openToWork': 'Open To Work',
        'programadorFullStack': 'Full-Stack Developer.',
        'descripcionPersonal': 'I am 23 years old, from Tucumán, Argentina. I specialize in software development and technological solutions, always looking to improve. My goal is to provide creative and effective solutions.',
        'linkedin': 'LinkedIn',
         'github': 'GitHub',
         'email': 'rodrieldkii@gmail.com',
         'tecnologiasTitulo': 'Technologies',
         'lenguajes': 'Languages',
         'frameworksLibrerias': 'Frameworks and Libraries',
         'basesDatos': 'Databases',
          'herramientasAdicionales': 'Additional Tools',
         'proyectosTitulo': 'Projects',
         'sobremiTitulo': 'About me',
          'desarrolladorTecnico': 'I am a <strong>Technical Programmer with university education</strong> at UTN FRT (National Technological University, Tucumán Regional Faculty).',
          'crecerProfesionalmente': 'I am looking for opportunities to <strong>grow professionally</strong> and prepare for the working world.',
          'habilidadesDev': 'Every day I continue developing my skills as a <strong>Full-Stack</strong> dev, participating in projects and taking courses that allow me to <strong>learn and grow</strong> as a programmer.',
           'verCertificado': 'See Certificate',
           'contacto': 'Contact',
           'code':'Code',
           'preview':'Preview'
    },
};

 function t(key) {
    return translations[currentLanguage][key] || key;
}
---

<Layout title="Portfolio Rodrigo"
description="Mi objetivo es aprender y mejorar constantemente, participando en proyectos innovadores que me permitan ampliar mis conocimientos y aportar soluciones creativas y efectivas.">
    <main class="px-4">
        <Section t={t} currentLanguage={currentLanguage}>
            <img class="rounded-full w-20 h-20 mb-4"  src={PROFILE_IMAGE} alt="yo" class="rounded-s-full size-64">
        <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-5 pb-6 lg:pb-10">
            {t('holaSoy')}
            <a href="https://www.linkedin.com/in/rodrigo-abreg%C3%BA-4b654925a/" target="_blank" rel="noopener"> <div class="flex justify-center items-center hover:scale-110 transition">
                <Badge> {t('openToWork')} </Badge>
            </div><a/></h1>
        <h2 class="text-xl lg:text-2xl opacity-80 text-pretty max-w-{700px}">
            <span class="text-blue-300">{t('programadorFullStack')}</span> <br>{t('descripcionPersonal')}
        </h2>
        <nav class="flex gap-x-5 mt-6 flex-wrap">
            <Social_icons href="https://www.linkedin.com/in/rodrigo-abreg%C3%BA-4b654925a/">
                <Linkedin class="size-4 md:size-6"/>
                {t('linkedin')}
            </Social_icons>
            <Social_icons href="https://github.com/Rodri-A-DK">
                <Github class="size-4 md:size-6"/>
               {t('github')}
            </Social_icons>
            <Social_icons href="mailto:rodrieldkii@gmail.com">
                <Gmail class="size-4 md:size-6"/>
               {t('email')}
        </nav>
        </Section>
        <Section_tecno id="tecnologias" t={t} currentLanguage={currentLanguage}>
            <Tecnologias/>
        </Section_tecno>
        <Section id="proyectos" t={t} currentLanguage={currentLanguage}>
            <div class="flex justify-center">
                <h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Code class="size-8 "/>{t('proyectosTitulo')} </h2>
            </div>
            <Proyectos/>
        </Section>
        <Section_sobremi id="sobre_mi" t={t} currentLanguage={currentLanguage}>
            <div class="flex justify-center">
                <h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Me_icons class="size-8 "/>{t('sobremiTitulo')} </h2>
            </div>
            <Sobre_mi/>
        </Section_sobremi>
        <Footer/>
    </main>
    
</Layout>